
@{
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            text-align: center;
        }

        th, td {
            background-color: aquamarine;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            
        }
        td{
            color: mediumblue;
        }
    </style>
    
    <h2 style="color:teal; text-align:center"> STAFF </h2>
    <table border="1" width="100%">

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Category</th>
            <th>Address</th>

        </tr>
        @foreach (AllStaffList item in Model)
        {
            <tr>
                <td>@item.StaffId</td>
                <td>@item.StaffName</td>
                <td>@item.StaffContact</td>
                <td>@item.StaffCategory</td>
                <td>@item.StaffAddress</td>

            </tr>
        }

    </table>
    <br>
    <a asp-action="AddStaff" style="text-decoration:none"> <button> REGISTRATION </button> </a>
    <a asp-action="DeleteStaff" style="text-decoration:none"> <button> DELETE</button></a>
         
    
}

