@model List<FirstMVCProject.Models.UserModel>
@{
}
<style>
    table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}
</style>

<div>
    <a href="AddEmployee">Add Employee</a>
</div>
<table border="1">
    <tr>
        <th>
            First Name
        </th> &nbsp;
        <th>Last Name</th>
        <th>User Name</th>
        <th>Email</th>
        <th>IsActive</th>
        <th>IsDelete</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.firstName</td>
            <td>@item.lastName</td>
            <td>@item.userName</td>
            <td>@item.email</td>
            <td>@item.isActive</td>
            <td>@item.isDelete</td>

        </tr>
    }
    
</table>
