
@{
    ViewData["Title"] = "ShowAllCustomers";
}

<h2> Show All Details of Customers</h2>
<br></br>

<style>
    tr, td {
        background: #C6FFDD; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    table, th, td {
        border: 1px solid white;
        border-collapse: collapse;
    }

    table {
        background-color: #96D4D4;
    }

    h2 {
        text-align: center;
        color: blue;
    }
</style>

@if (Model == null)
{
    <h1>No data found</h1>
}
else
{
    <table class="table" border="1">
        <thead class="thead-dark">
            <tr>
                <th scope="col">CustomerId</th>
                <th scope="col">CustomerName</th>
                <th scope="col">CustomerEmail</th>
                <th scope="col">CustomerMobileNumber</th>
                <th scope="col">CustomerRegisterDate</th>
                <th scope="col">Gender</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (GetCustomerModel mobileModels in Model)
            {
                <tr>
                    <td>@mobileModels.CustomerId</td>
                    <td>@mobileModels.CustomerName</td>
                    <td>@mobileModels.CustomerEmail</td>
                    <td>@mobileModels.CustomerMobileNumber</td>
                    <td>@mobileModels.CustomerRegisterDate</td>
                    <td>@mobileModels.Gender</td>
                  
                </tr>
            }

        </tbody>
    </table>
    <br />
}
<h2 style="text-align:center;"> <a href="AddCustomers">Back to New Customer Registration </a></h2>

