@*@model LibraryManagementSystem.Models.book*@
@model List<LibraryManagementSystem.Models.IssueBook>
@{
}

<style>
    h1 {
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
    }

    table {
        width: 100%;
        table-layout: fixed;
    }

    .tbl-header {
        background-color: rgba(255,255,255,0.3);
    }

    .tbl-content {
        height: 300px;
        overflow-x: auto;
        margin-top: 0px;
        border: 1px solid rgba(255,255,255,0.3);
    }

    th {
        padding: 20px 15px;
        text-align: left;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
    }

    td {
        padding: 15px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 12px;
        color: #fff;
        border-bottom: solid 1px rgba(255,255,255,0.1);
    }

    body {
        background: -webkit-linear-gradient(left, #25c481, #25b7c4);
        background: linear-gradient(to right, #25c481, #25b7c4);
        font-family: 'Roboto', sans-serif;
    }

    section {
        margin: 50px;
    }
    /* for custom scrollbar for webkit browser*/

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    }
   label{
       display:block;
       font-size: 1rem;
   }
   input, label{
       margin: 0.4rem 0;
   }
</style>
<div style="text-align: center; color:white;">
    <h1> Details of Issue Books </h1>


<form asp-action="IssueBook" method="post">
    <label for="site-search">Get Book Detail By ID</label>
    <input type="search" id="site-search" name="BookId" />
    <button type="submit" class="btn-success">Search</button>
</form>

</div>

@*@if(Model == null)
{
    <h1>Not Data Found</h1>
}
else
{
    <section>
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>BookId</th>
                        <th>BookName</th>
                        <th>Edition</th>
                        <th>CategoryId</th>
                        <th>AuthorId</th>
                        <th>PublisherId</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                        <tr>
                            <td>@Model.bookId</td>
                            <td>@Model.bookName</td>
                            <td>@Model.edition</td>
                            <td>@Model.categoryId</td>
                            <td>@Model.authorId</td>
                            <td>@Model.publisherId</td>
                        </tr>
                </tbody>
            </table>
        </div>
    </section>
    
}*@

<section>
    <!--for demo wrap-->

    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>IssueBookId</th>
                    <th>MemberId</th>
                    <th>BookId</th>
                    <th>Idate</th>
                    <th>Rdate</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>

                @foreach(IssueBook item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.memberId</td>
                        <td>@item.bookId</td>
                        <td>@item.Idate</td>
                        <td>@item.Rdate</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</section>
<a href="AddIssueBook"><h1>Add Issue Book on Record</h1></a>
<a href="DeleteIssueBook"><h1>Delete Issue Book on Record</h1></a>
